:root{

    /* ======================================
       FONDOS
    ====================================== */

    --bg:#020617;

    --panel:#0f172a;

    --panel-2:#1e293b;

    --panel-3:#334155;

    /* ======================================
       BORDES
    ====================================== */

    --border:#334155;

    --border-light:#475569;

    /* ======================================
       TEXTO
    ====================================== */

    --text:#e2e8f0;

    --text-secondary:#94a3b8;

    --text-dark:#111827;

    --text-light:#ffffff;

    /* ======================================
       COLORES PRINCIPALES
    ====================================== */

    --purple:#a78bfa;

    --blue:#3b82f6;

    --blue-light:#60a5fa;

    --green:#22c55e;

    --red:#ef4444;

    --orange:#f59e0b;

    /* ======================================
       INPUTS
    ====================================== */

    --input-bg:#f3f4f6;

    --input-disabled:#1e293b;

    /* ======================================
       VALIDACIÓN
    ====================================== */

    --error-bg:#2b1111;

    --error:#ef4444;

}